useDynLib(SK4FGA)
S3method(plot,sk_partition_tree)
export(calculate_lambda_threshold)
export(find_B0)
export(find_T0)
export(find_T2)
export(generate_indices)
export(partition)
export(partition.multi)
export(plot.sk_partition_tree)
export(prepare_data)
export(ptsquared)
export(ungroup.partition)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "plot.new", "plot.window", "points", "segments", "text", "title")
importFrom("stats", "cov", "pf", "quantile", "rnorm", "approx", "qchisq")
